<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
    <h1>
        New Post in your favourite category
    </h1>
    <p>
        In category:
        <strong>
            {{ category.name }}
        </strong>
        there is a new post by
        <strong>{{ post }}</strong>
    </p>
    <a href="http://127.0.0.1:8000{% url 'news:post_detail' post.id%}"></a>

    <h2>{{ post.title }}</h2>
    <p>
        {{ post.preview }}
    </p>

</body>
</html>